





.portada1{
    max-width: 900px;
    width: 100%;
}

.texto1{
    float: initial;
}

.texto2,.texto3,.texto4{
    float: left;
    width: 30%;

}




h1.titulo1{
    color: blue;
}
h2.titulo2{
    color: #0256DF;
}
h2.titulo3{
    color: #0256DF;
}


#boton1{
    padding: 10px;

    
}




#fname{
    align-items: center;
}
#email{
    align-items: center;
}

.escribenos{
    align-items: flex-end;
}

footer{
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 40pxs;

}



